body {
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive; /* Retro Pixel Font */
    background-color: #000000;
    color: #e6b89c;
}

h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #ffad60;
}

table {
    /* border-spacing: 0; */
    border-collapse: collapse;
    margin: 0 auto;
}

td {
    width: 100px;
    height: 100px;
    text-align: center;
    font-weight: bold;
    background-color: #5e503f;
    color: #e6b89c;
    /* border: 2px solid #c4976e; */
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

button {
    width: 100px;
    height: 100px;
    font-size: 45px;
    font-weight: bold;
    background-color: #d99a6c;
    color: #4b2e1e;
    border: 2px solid #c4976e;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

td:hover, button:hover {
    background-color: #ffcc99;
    color: #2b2b2b;
    transform: scale(1.05);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    background-image: url('');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

form {
    margin-bottom: 20px;
}

.resetButton {
    width: 100px;
    height: 40px;
    font-size: 20px;
    font-weight: bold;
    background-color: #d99a6c;
    color: #4b2e1e;
    border: 2px solid #c4976e;
    transition: background-color 0.3s ease, transform 0.3s ease;
    cursor: pointer;
}

.resetButton:hover {
    background-color: #ffcc99;
    color: #2b2b2b;
    transform: scale(1.05);
}
